
<h2>{{songCtrl.song.title}}</h2>
<h3>{{songCtrl.song.author}}</h3>

<div id="ukeSongContainer" class="ugsLayoutTwoColumn ugs-song-wrap">
  <aside id="ukeChordsCanvas" class="ugs-diagrams-wrap ugs-grouped">
    <canvas>
      <p>Your browser doesn't support canvas please upgrade (FREE) to <a href="http://www.google.com/chrome">Google Chrome</a>, <a href="http://www.mozilla.com/en-US/firefox/">Firefox</a>, or <a href="http://www.apple.com/safari/">Apple Safari</a>.</p>
    </canvas>
  </aside>

  <song-text id="ukeSongText" class="ugs-source-wrap ub-two-column-content"></song-text>

</div>
<form ng-if="user">
  <div class="form-group">
    <label>markup</label>
    <textarea class="form-control" ng-model="songCtrl.song.tab"></textarea>
  </div>
  <div class="form-group">
    <label>title</label>
    <input class="form-control" type="text" ng-model="songCtrl.song.title">
  </div>
  <div class="form-group">
    <label>author</label>
    <input class="form-control" type="text" ng-model="songCtrl.song.author">
  </div>
  <button class="btn btn-xs btn-default" ng-click="songCtrl.delete()">delete</button>
  <button class="btn btn-xs btn-primary" ng-click="songCtrl.save()">save</button>
  <download-button url="songCtrl.song.pdf"></download-button>
  <print-pdf song-id="songCtrl.song.id"></print-pdf>
  <upload-control song-id="songCtrl.song.id"></upload-control>
</form>
