node_modules
.tmp
.sass-cache
.idea
*.log
/frontend/columnizer/tools
/frontend/columnizer/samples
/PU_sicherung_2016_07_08.backup
/backend/db.sql
/backend/server/datasources.json
/backup.sql.gz
/dump_pu.sh
