<h1>
  Willkommen zum UkeBook der <br/>
  <a href="http://www.meetup.com/de/Munchen-Ukulele-Meetup">münchner Ukulele Meetup Gruppe</a>
</h1>
Hier werden die Noten zu den Songs des Meetups veröffentlicht.<br/>
Um einen Song anzuzeigen, einfach links auswählen.<br/>
Folgende features sind in Planung:
<br/>
<br/>

<ul>
  <li>Download aller songs als einheitliches PDF  <span class="glyphicon glyphicon-ok"></span></li>
  <li>Live bearbeitung <span class="glyphicon glyphicon-ok"></span></li>
  <li>Suche nach Songs</li>
  <li>Wahl zwischen verschiedenen Layouts</li>
  <li>Persönliches Songbook zusammenstellen</li>
</ul>

<form ng-if="user" method="get" action="{{ '/api/song/pdf?access_token=' +overviewCtrl.token }}">
  <button class="btn btn-primary" type="submit">Download als PDF</button>
</form>

<div>
  <form ng-if="user" method="get" action="{{ '/api/song/pdf?layout=2&access_token=' +overviewCtrl.token }}">
    <input type="hidden" name="layout" value="2">
    <button class="btn btn-primary" type="submit">Download two column PDF (Experimental!)</button>
  </form>
</div>

