<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UkeBook v0.1.0</title>

  <link rel="stylesheet" href="css/layout.css" type="text/css">
  <link rel="stylesheet" href="css/ukeGeeks.music.css" type="text/css">
  <link rel="stylesheet" href="css/print.css" type="text/css">
</head>
<body>

<div ng-app="ukebook" class="container-fluid">
  <div class="page-area fill">
    <div class="west col-md-2 no-float fill hidden-print">
      <h1 class="header"><a href="/#/">UkeBook</a></h1>
      <div class="search"></div>
      <div class="nav"></div>
      <div class="auth">
        <login></login>
      </div>
      <div class="songlist-container">
        <song-list></song-list>
      </div>
      <add-song ng-if="user"></add-song>
    </div>
    <div class="content no-float fill" app-view-segment="0"></div>
  </div>
  <div class="footer col-md-12 row-fluid hidden-print">UkeBook v0.1.0 <button class="btn btn-xs" ng-click="toggleLogin()">toggle login</button></div>
</div>

<script src="lib/jquery.min.js"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/angular-animate.js"></script>
<script src="lib/ui-bootstrap-tpls.min.js"></script>
<script src="lib/angular-local-storage.min.js"></script>
<script src="lib/angular-messages.min.js"></script>
<script src="lib/angular-resource.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="lib/angular-sanitize.min.js"></script>
<script src="lib/angular-touch.min.js"></script>
<script src="lib/angular-cookies.min.js"></script>
<script src="lib/angular-file-upload.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/q.js"></script>
<script src="lib/angular-route-segment.js"></script>

<script src="lib/ukeGeeks.scriptasaurus.merged.js"></script>
<script src="lib/jquery.columnizer.min.js"></script>

<!-- main -->
<script src="app.module.js"></script>
<script src="app.js"></script>

<!-- view controllers -->
<script src="overview/overview.controller.js"></script>
<script src="song/Song.controller.js"></script>
<script src="songs/songbook.controller.js"></script>

<!-- services -->
<script src="adapter/songApi.service.js"></script>
<script src="adapter/upload.service.js"></script>

<!-- directives -->
<script src="auth/auth.js"></script>
<script src="song/createPdf/CreatePdf.controller.js"></script>
<script src="song/createPdf/createPdf.directive.js"></script>
<script src="song/uploadPdf/UploadPdf.controller.js"></script>
<script src="song/uploadPdf/uploadPdf.directive.js"></script>
<script src="song/downloadPdf/DownloadPdf.controller.js"></script>
<script src="song/downloadPdf/downloadPdf.directive.js"></script>
<script src="song/songList/SongList.controller.js"></script>
<script src="song/songList/songList.directive.js"></script>
<script src="song/songText/SongText.controller.js"></script>
<script src="song/songText/songText.directive.js"></script>
<script src="song/addSong/AddSong.controller.js"></script>
<script src="song/addSong/addSong.directive.js"></script>

</body>
</html>
