<h1>
  Willkommen zum UkeBook der <br/>
  <a href="http://www.meetup.com/de/Munchen-Ukulele-Meetup">münchner Ukulele Meetup gruppe</a>
</h1>
Hier werden die Noten zu den Songs des Meetups veröffentlicht.
Um einen Song anzuzeigen, einfach links auswählen.
Folgende features sind in Planung:
<br/>
<br/>
<ul>
  <li>Download aller songs als einheitliches PDF  <span class="glyphicon glyphicon-ok"></span></li>
  <li>Live bearbeitung <span class="glyphicon glyphicon-ok"></span></li>
  <li>Suche nach Songs</li>
  <li>Wahl zwischen verschiedenen Layouts</li>
  <li>Persönliches Songbook zusammenstellen</li>
</ul>

<form ng-if="user" method="get" action="/api/Songs/pdf">
  <button class="btn btn-primary" type="submit">Download one column PDF!</button>
</form>
<form ng-if="user" method="get" action="/api/Songs/pdf?layout=2">
  <button class="btn btn-primary" type="submit">Download two column PDF!</button>
</form>

