@media print {

  html, body {
    padding: initial;
    min-height: initial;
    margin-bottom: initial;
    padding-bottom: initial;
    top: initial;
    left: initial;
    right: initial;
    position: initial;
  }
  .songbook-page {
    page-break-before: always;
  }
  .footer {
    height: 0;
    display: none !important;
  }
  #ukeSongContainer.ub-two-column-content {
    width: 100%;
    > aside {
      width: 100%;
      clear: both;
    }
    > .ugs-source-wrap {
      float: left;
      width: 100%;
      margin-left: 0;

      .column {
        $space-between: 30px;
        &.first { padding-right: $space-between / 2; }
        &.last  { padding-left:  $space-between / 2; }
      }

    }
    > form {
      clear: both;
    }
  }
  .form-group, form {
    display: none !important;
  }
}

.ugsChords,
.ugsComment,
.ugsChorus,
.ugsPlain,
.last.column,
.first.column {
  page-break-inside: avoid;
  overflow-x: hidden;
}

.songbook-index {
  ul {
    padding-left: 0;
  }
  .index-row {
    display: inline-block;
    width: 100%;
  }
  .index-page-number {
    float: right;
  }
}
