@media print {

  html, body {
    padding: initial;
    min-height: initial;
    margin-bottom: initial;
    padding-bottom: initial;
    top: initial;
    left: initial;
    right: initial;
    position: initial;
  }
  .content {
    h1, h2, h3 {
      float: left;
    }
    h2, h3 {
      display: inline-block;
      width: 220px;
      clear: both;
    }
    form {
      clear: both;
    }
  }
  .songbook-page {
    page-break-before: always;
  }
  .footer {
    height: 0;
    display: none !important;
  }
  #ukeSongContainer.ub-two-column-content {
    width: 100%;
    > aside {
      width: 220px;
      clear: both;
    }
    > .ugs-source-wrap {
      float: left;
      width: 80%;
      margin-left: 0;

      .ugsColumn {
        min-height: 920px;
        width: 50%;
        border: 0;
        &:nth-child(1), &:nth-child(2) {
          position: relative;
          top: -80px;
        }
      }
      .column {
        $space-between: 30px;
        &.first { padding-right: $space-between / 2; }
        &.last  { padding-left:  $space-between / 2; }
      }

    }
    > form {
      clear: both;
    }
  }
  .form-group, form {
    display: none !important;
  }
}

.ugsChords,
.ugsComment,
.ugsChorus,
.ugsPlain,
.last.column,
.first.column {
  page-break-inside: avoid;
  overflow-x: hidden;
}

.songbook-index {
  ul {
    padding-left: 0;
  }
  .index-row {
    display: inline-block;
    width: 100%;
  }
  .index-page-number {
    float: right;
  }
}
