#ukeSongContainer.ub-two-column-content {
  width: 100%;
  > aside {
    width: 100%;
    clear: both;
  }
  > .ugs-source-wrap {
    float: left;
    width: 100%;
    margin-left: 0;

    .column {
      $space-between: 30px;
      &.first { padding-right: $space-between / 2; }
      &.last  { padding-left:  $space-between / 2; }
    }
  }
  > form {
    clear: both;
  }
}
.ugs-diagrams-wrap {

}

.ugs-source-wrap {
  display: block;
  pre {
    display: inherit;
    &.ugsPlain,&.ugsTabs {
      overflow-y: hidden;
      padding: 2px 0 16px;
      line-height: 1.5em;
    }
  }
  code {
    white-space: pre;
    display: initial;

  }
}
.ugsChords code em {
  color: #d20 !important;
  margin: 0 !important;
}
